<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mohammed Saihan | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/fevicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/fevicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/fevicon/favicon-16x16.png">
    <link rel="manifest" href="/static/fevicon/site.webmanifest">
</head>

<body>

    <nav class="navbar">
        <div class="nav-container">
            <a class="logo" href="/">Mohammed Saihan</a>
            <ul class="nav-links">
                <li><a href="/resume">Resume</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2026 Mohammed Saihan</p>
    </footer>

</body>

</html>