{% extends "base.html" %}
{% block content %}

<div class="project">
    <h3>Retail Sales & Customer Analytics Dashboard | Power BI, SQL</h3>

    <p>
        Built an interactive Power BI dashboard to analyze retail sales, customer behavior, and performance trends
    </p>

    <p class="architecture">
        <strong>Architecture:</strong> Python data cleaning → SQL data processing →
        Power BI dashboard generation → interactive visualizations
    </p>


    <ul>
        <li>Used SQL (joins, CTEs, window functions) to extract, aggregate, and analyze transactional data</li>
        <li>Created KPI metrics including total revenue, average order value (AOV), and month-on-month growth</li>
        <li>Delivered actionable insights to support product performance evaluation and data-driven decisions</li>
        <li>Applied customer segmentation and demographic analysis to identify high-value customer groups</strong></li>
    </ul>

    <p class="tech">
        Python, Flask, Transformers, Scikit-learn, SerpAPI
    </p>

    <p class="project-links">
        🔗 <a href="https://github.com/MohammedSaihan/Retail_Sales_-_Inventory_Analytics_Dashboard.git" target="_blank">
            GitHub Repository
        </a>
        🔗 <a
            href="https://app.powerbi.com/view?r=eyJrIjoiNzA4NTAzYmYtYjIzNS00YmYyLWIxZjYtNTMyZjQ3NTZhZTkwIiwidCI6IjRkNmJmZDhhLWNlZDItNGUxNi1hOGUwLWM5YzFjYWRlNWFjYiJ9"
            target="_blank">
            Power bi Dashboard
        </a>
    </p>
</div>
<div class="project">
    <h3>🏨 Hospitality Analytics – Hotel Occupancy & Revenue (Jeddah) | Power BI, SQL</h3>

    <p>
        A business-focused analytics case study analyzing hotel occupancy, revenue, and seasonal demand trends in
        Jeddah, Saudi Arabia using SQL and Power BI.
    </p>

    <p class="architecture">
        <strong>Architecture:</strong> Python data cleaning → SQL data processing →
        Power BI dashboard generation → interactive visualizations
    </p>


    <ul>
        <li>Analyze hotel booking and revenue trends over time</li>
        <li>Identify seasonal demand patterns and peak travel periods</li>
        <li>Measure hospitality KPIs such as ADR and RevPAR</li>
        <li>Compare revenue performance across hotel and room categories</strong></li>
        <li>Support data-driven pricing and operational decisions</strong></li>
    </ul>

    <p class="tech">
        Python, Flask, Transformers, Scikit-learn, SerpAPI
    </p>

    <p class="project-links">
        🔗 <a href="https://github.com/MohammedSaihan/Hospitality-Analytics-Hotel-Occupancy-Revenue-Jeddah-.git"
            target="_blank">
            GitHub Repository
        </a>
        🔗 <a
            href="https://app.powerbi.com/view?r=eyJrIjoiMjc4NGZkYmYtZjg5NC00NjJkLWFlODMtMWQwMTgwNjg5MTFjIiwidCI6IjRkNmJmZDhhLWNlZDItNGUxNi1hOGUwLWM5YzFjYWRlNWFjYiJ9"
            target="_blank">
            Power bi Dashboard
        </a>
    </p>
</div>

<div class="project">
    <h3>Feka 2.0 – Fake News Detection</h3>

    <p>
        ML-powered web app that detects fake news using NLP and
        trusted-source verification.
    </p>

    <p class="architecture">
        <strong>Architecture:</strong> User Input → Text vectorization →
        Model Prediction Phase → Calculation →
        Result to UI → structured output
    </p>
    <p class="tech">Tech: Python, Flask, Transformers, Scikit-learn</p>

    <ul>
        <li>Extracted Article fields with <strong>~70% accuracy</strong></li>
        <li>Used a fine-tuned BERT model to classify news as real or fake</li>
        <li>Implemented a trusted-source verification step using SerpAPI</li>
        <li>Designed a user-friendly interface to display results and explanations</li>
    </ul>

   

    <p class="project-links">
        🔗 <a href="https://github.com/MohammedSaihan/news_article_analyser-.git" target="_blank">
            GitHub Repository
        </a>
    </p>
</div>


{% endblock %}